*~
*#
a.out
*.out
*.a
*.o
.vscode/
build*/
release*
tsan*
asan*
__pycache__
.doit.db
.idea
perf.data*
cmake-*
.submit-repo/
CMakeSettings.json
CppProperties.json
.vs/
build_asan
.DS_Store
.cache/
compile_commands.json
/bazel-*
_bazel
.clwb
